*.swp
.DS_Store
.gdb_history
peda-session-*
objdump
*.pyc
__pycache__

# pass all files of ida
*.i64
*.id0
*.id1
*.id2
*.nam
*.til

# pass all submision file
b05901003*
writeup.md

# pass nc
server.sh
