*.swp
.DS_Store
.gdb_history
peda-session-*
objdump

# python related
*.pyc
__pycache__
*.sage.py

# pass all files of ida
*.i64
*.id0
*.id1
*.id2
*.nam
*.til

# pass all submision file
b05901003*
hw*.md
writeup.md

# pass nc
server.sh

# VS code
.vscode

# js
node_modules

# web
web/**/src

# reverse
reverse/*.zip
