*.swp
.DS_Store
.gdb_history
peda-session-*
objdump

# python related
*.pyc
__pycache__
*.sage.py
sanity-check-script.py

# pass all files of ida
*.i64
*.id0
*.id1
*.id2
*.nam
*.til
*.idb

# pass all submision file
b05901003*
hw*.md
writeup.md

# pass nc
server.sh

# VS code
.vscode

# js
node_modules

# web
web/**/src
hw0x06.pdf

# reverse
reverse/Week*/
*.bin

# pwn
*.so
pwn/**/distribute
core

# final
final/code
*.elf
校外*
